doctype html
html
    head
    title #{title}
    body
        h1 Express
        h3 API endpoints:
        br
        h4 user routes
        p /users/:username
        p /users/all
        p /users/add
        br
        h4 login routes
        p /login
        p /login/:username